*{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.container-layout{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    border: 2px solid black;
    height: 50px;
}
.navar{
    width: 100%;
    height: 50px;
    border: 2px solid black;
}
.body-main{
    border: 1px solid black;
    width: 100%;
    height: 350px;
}
.body-main-left{
    width: 50%;
    height: 350px;
    border: 1px solid black;
    float: left;
}
.body-main-right{
    width: 50%;
    height: 350px;
    float: left;
    border: 1px solid black;
}

.section{
    width: 100%;
    height: 50%;
    float: left;
    border: 1px solid black;
}

.article{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    float: left;
}

.footer{
    width: 100%;
    border: 2px solid black;
    height: 50px;
}

p{
    text-align: center;
    font-size: 24px;
}